<!--settings.html-->

<!--Embed the header.html template at this location-->
{{ template "header-local.html" .}}

<h1>Dashboard settings</h1>


<div class="panel panel-default col-sm-12">
    <div class="panel-body">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
        <p class="bg-danger">
            {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
        {{end}}
        <!--Create a form that POSTs to the `/article/create` route-->
        <form class="form" action="/settings" method="POST">
            <div class="form-group">
                <label for="target-temperature">Target Tempature</label>
                <input type="text" class="form-control" id="target-temperature" name="target-temperature" placeholder="Target Temperature" value="{{.TargetTemperature}}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer-local.html" .}}